body{
    font-family: 'Open Sans', sans-serif;
    background: #FFDB83;
    margin:0;
    padding:0;
    height: 100%;
}

html, body, #app, #app>div {
    height: 100%
}

a {
    text-decoration: none;
}